
SECRET_KEY=XXXXXXXXXXXXXX
SKYPASS_API_KEY=XXXXXXXXXXXXXX
BASE_URL_WISPHUB=URL WISPHUB/api/clientes
API_KEY_WISPHUB=XXXXXXXXXXXXXX
GENIEACS_API_URL=http://localhost:7557
IP_SERVER=localhost
EMPRESA=XXXXXXXXXXXXXX
SOPORTE_WHATSAPP=XXXXXXXXXXXXXX

------------------------------

YCLOUD_API_KEY=XXXXXXXXXXXXXX

YCLOUD_SENDER_ID=XXXXXXXXXXXXXX

