SECRET_KEY=aqui-clave-secreta
BASE_URL_WISPHUB=URL WISPHUB/api/clientes
API_KEY_WISPHUB=API WISPHUB
GENIEACS_API_URL=http://localhost:7557
IP_SERVER=localhost
EMPRESA=xxx
------------------------------

YCLOUD_API_KEY=XXXXXX

YCLOUD_SENDER_ID=XXXXXXXXXXXXXX
