# Ignorar archivos de configuración local
.env
.env.save

# Ignorar directorios de Python y entorno virtual
__pycache__/
venv/

# Ignorar dependencias y archivos generados
node_modules/
base-baileys-memory/node_modules/
base-baileys-memory/package-lock.json
*.log

# Ignorar archivos de IDE o editores de texto (si es necesario)
.vscode/
.idea/

# Archivos de WhatsApp (se regeneran automáticamente)
base-baileys-memory/bot.qr.png
base-baileys-memory/bot_sessions/
base-baileys-memory/*.log

# Base de datos
skypass.db

# Archivos temporales y logs
mk.txt
base-baileys-memory/core.class.log
static/logo.png
